<div class="container">
    <ul>
        <li>Argumentos: <b>{{args}}</b></li>
        <li>Sistema Operativo: <b>{{sistemaOperativo}}</b></li>
        <li>Versión de node: <b>{{VersionNode}}</b></li>
        <li>Memoria Total: <b>{{memoriaTotal}}</b></li>
        <li>Ruta de Ejecución: <b>{{ruitaEjecucion}}</b></li>
        <li>Id de Proceso: <b>{{idProceso}}</b></li>
        <li>Carpeta de Proyecto: <b>{{carpetaProyecto}}</b></li>
        <li>DATA: <b>{{profileData}}</b></li>
    </ul>
</div>